@if (isVisible()) {
  @defer {
    <div class="modal-update-header">
      <button class="btn btn-cancel" (click)="closeModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="svg-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
      <p>Mettre à jour</p>
      <span class="space"></span>
    </div>

    <div class="modal-update">
      <form class="form-update" [formGroup]="formGroup" (submit)="onSubmit()">
        @for (item of entityProps(); track item) {
          <div class="form-update-field">
            <label for="item" class="field-label">
              {{ item }}: <br />
              <input class="field-input" type="text" [formControlName]="item" />
            </label>
          </div>
        }
        <button class="btn form-update-btn" type="submit">Mettre À Jour</button>
      </form>
    </div>
  } @placeholder (minimum 1s) {
  } @error {}
}
