<footer class="footer">
  <div class="block-footer">
    <div class="block">
      <div class="title">RESSOURCES</div>
      <ul class="items-block">
        <li class="list-item">À propos</li>
        <li class="list-item">Documentation</li>
        <li class="list-item">Blog</li>
      </ul>
    </div>
    <div class="block">
      <div class="title">COMMUNAUTÉ</div>
      <ul class="items-block">
        <li class="list-item">Forum</li>
        <li class="list-item">X</li>
        <li class="list-item">Contribute</li>
      </ul>
    </div>
    <div class="block">
      <div class="title">NEWSLETTER</div>
      <form
        #newsLetterForm="ngForm"
        class="newsletter form"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-field-newsletter">
          <div class="form-field">
            <input
              class="input-form"
              type="email"
              name="email"
              placeholder="Email"
              [(ngModel)]="email"
              email
              required
            />
            @if (
              newsLetterForm.invalid &&
              (newsLetterForm.touched || newsLetterForm.dirty)
            ) {
              <div class="error-tooltip">Veuillez entrer une Email valide</div>
            }
          </div>
          <button type="submit" class="btn btn-action">Insctiption</button>
        </div>
      </form>
    </div>
  </div>

  <div class="licences">
    <p>© Tout droit réservé</p>
    <a href="">Mentions légales</a>
  </div>
</footer>
