<footer class="footer">
  <div class="footer-block">
    <div class="block">
      <div class="title">RESSOURCES</div>
      <ul class="items-block">
        <li class="list-item">À propos</li>
        <li class="list-item">Documentation</li>
        <li class="list-item">Blog</li>
      </ul>
    </div>
    <div class="block">
      <div class="title">COMMUNAUTÉ</div>
      <ul class="items-block">
        <li class="list-item">Forum</li>
        <li class="list-item">X</li>
        <li class="list-item">Contribute</li>
      </ul>
    </div>
    <div class="block">
      <div class="title">Newsletter</div>
      <div>
        <form class="newsletter" action="">
          <input
            class="input input-form"
            type="text"
            placeholder="Newsletter"
          />
          <button class="btn btn-action">Insctiption</button>
        </form>
      </div>
    </div>
  </div>

  <div class="licences">
    <p>© Tout droit réservé</p>
    <a href="">Mentions légales</a>
  </div>
</footer>
