<main>
  <h1>titre h1</h1>
  <h2>titre h2</h2>
  <h3>titre h3</h3>
  <h4>titre h4</h4>
  <h5>titre h5</h5>

  <a href="">Link</a>

  <ul>
    <li>List item</li>
    <li>List item</li>
    <li>list item</li>
    <li>List item</li>
  </ul>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nihil
    perferendis eos, nesciunt culpa possimus temporibus magni hic totam, maiores
    modi rem inventore est voluptatem iste ullam! Ab, cupiditate minima?
  </p>
  <figure class="card">
    <img
      src="https://static.actu.fr/uploads/2021/01/cine-affiche-tenet.jpg"
      alt=""
    />
  </figure>

  <button class="btn"><a href="">Link button</a></button>

  <table class="table-price">
    <tr>
      <th><h2>test</h2></th>
      <th><h2>test</h2></th>
    </tr>
    <tr>
      <td><p>test</p></td>
      <td>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </td>
    </tr>
    <tr>
      <td><p>test</p></td>
      <td>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </td>
    </tr>
    <tr>
      <td><p>test</p></td>
      <td>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </td>
    </tr>
    <tr>
      <td><p>test</p></td>
      <td>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn"><a href="">En savoir plus</a></button>
      </td>
    </tr>
  </table>
  <router-outlet />
</main>
