:host {
  width: 100%;

  mat-form-field {
    padding: 20px;
  }

  table {
    padding: 20px;
    height: 100%;
    background-color: white;
    th {
      font-size: calc(0.8rem + 1vmin);
    }
    td {
      font-size: calc(0.8rem + 1vmin);
      padding: 10px;
      button {
        font-size: calc(0.8rem + 1vmin);
        margin: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}
