<main>
  <app-toolbar />
  <section>
    <app-hero-header />
  </section>

  <section>
    <div class="box-paragraphe">
      <app-paragraphe
        [titleParagraphe]="presentation.title"
        [paragraphe]="presentation.paragraphe"
      />
      <app-button-action [title]="details.title" [link]="details.link" />
    </div>
    <app-card-image />
  </section>
  <section>
    <app-card-image />
    <div class="box-paragraphe">
      <app-paragraphe
        [titleParagraphe]="presentation.title"
        [paragraphe]="presentation.paragraphe"
      />
      <app-button-action [title]="details.title" [link]="details.link" />
    </div>
  </section>
  <section>
    <app-form-contact (submitFormContact)="submitFormContact($event)" />
  </section>

  <app-footer />
</main>
