<div class="toolbar">
  <img src="" alt="logo" />
  <div class="is-desktop">
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="link-item"
            >Accueil</a
          >
        </li>
        <li>
          <a
            routerLink="/prices"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="link-item"
            >Plans</a
          >
        </li>
        <li><a class="link-item" href="">SignIn/SignUp</a></li>
      </ul>
    </nav>
  </div>

  <div class="burger-menu">
    <button class="burger-btn btn" #btnBurger (click)="handleShowMenu()">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </button>
  </div>
  <div class="menu-mobile is-hidden" #menuMobile>
    <nav class="nav-mobile">
      <ul class="nav-list-mobile">
        <li><a href="">Home</a></li>
        <li class="fade-out-left"><a href="">Price</a></li>
        <li><a href="">SignIn/SignUp</a></li>
      </ul>
    </nav>
  </div>
</div>
